<% provide(:title, "Edit Profile") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= render "chart_view", f: f %>

      <% if @current_user == @user || @current_user.receptionist? %>
        <h1>Update Profile</h1>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      <% end %>
      <%= render "patient_view", f: f %>

      <% if @current_user.admin? && @current_user != @user %>
        <%= f.label :role %>
        <%= f.text_field :role, class: 'form-control' %>
      <% end %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
