<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<ul id="user_profile_page">
  <li><%= "Email: #{@user.email}" %></li>
  <% if @user.user? %>
    <li><%= "Address: #{@user.address}" %></li>
    <li><%= "Date of Birth: #{@user.dob}" %></li>
    <li><%= "Phone Number: #{@user.phone_number}" %></li>
    <li><%= "Insurance: #{@user.ins}" %></li>
    <li><%= "Social Security Number: #{@user.ssn}" %></li>
    <li><%= "Emergency Contact Name: #{@user.emer_contact_name}" %></li>
  <% end %>
  <% if not @user.user? %>
    <li><%= "Account Type: #{@user.role}"%></li>
  <% end %>
    <li><%= "User ID: #{@user.id}"%></li>
    <br>
    <li><li>
</ul>
<div class="edit-btn"><%= button_to "Edit Profile", edit_user_path,
          :class => "btn btn-primary", :method => :get %></div>
