<% if @over_ten %>
  <%= link_to 'Show Previous', '?m=all' %>
<% end %>

<div class="ui segment">
  <% @receipts.each do |receipt| %>
    <% if receipt.price %>
      <% user = User.find(receipt.user_id) %>
      <div class="item">
        <div class="content">
          <div class="header"><strong> Receipt from: <%= user.name%></strong>. Date of diagnosis:</div>
          <div class="list">
            <div class="item">
              <i class="right triangle icon"></i>
              <strong>  Price to pay: </strong><%= receipt.price %><br>
              <strong> Items: </strong><%= receipt.items %>
            </div>
            <div>
              <br>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<% if current_user.role == @receptionist %>
<%= form_for [@container, @receipt], html: {class: "ui reply form"} do |f| %>
  <div class="field">


      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control' %>

      <%= f.label :items %>
      <%= f.text_field :items, class: 'form-control' %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div>
    <%= f.submit "Diagnose", class: "ui blue labeled submit icon button" %>
  </div>
  <%end%>
<% end %>
